/* 모든페이지에서 중복되는 스타일 */

:root {
    --font-size--basic : 17px;
    --font-size--title : 40px;
    --font-size--title2 : 20px;
    --font-weight-basic : 400;
    --font-weight-bold : 700;
    --line-height-basic : 1.5;
    --color-title : #1d1d1d;
    --color-basic : #1d1d1d;
    --color-main : #FF4E00;
    --color-main2 : #0900FF;
    --color-white : #fff;
    --color-white80 : rgba(255, 255, 255, 0.8);
    --color-line : #ededed;
    --header-h : 100px;
}
@media screen and (max-width:768px){
    :root {
        --font-size--basic : 16px;
        --font-size--title : 24px;
        --font-size--title2 : 18px;
        --header-h : 56px;
    }
}

body {
    font-family: "Suit", sans-serif;
    font-size: var(--font-size--basic);
    font-weight: var(--font-weight-basic);
    line-height: var(--line-height-basic);
    color: var(--color-basic);
    word-break: keep-all; /* 단어별로 줄바꿈 */
    word-wrap: break-word;
    /* 단어가 너무 길었을때 강제줄바꿈 */
}
.wrapper {
    width: 1260px;
    margin: 0 auto; /* 가운데 정렬 */
}
#wrap {
    min-width: 1320px;   /* 1260 + 30 + 30 = 1320 */
    position: relative; /* header 정렬의 기준 */
    /* overflow: hidden; */
}
/* html문서 구조상 글자를 써줘야 하는데
   그 글자를 안보이게 하고 싶을때 blind 클래스를 주면 사라짐 */
.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}
/* 
    좌우여백 50px : 1260 + 50 + 50 = 1360
    좌우여백 30px : 1260 + 30 + 30 = 1320
    좌우여백 5% : 1260 + (1260*0.05=63) + (1260*0.05=63) = 1335.6
*/
@media screen and (max-width:1320px){
    .wrapper {
        width: auto;
        margin: 0 30px;
    }
}

@media screen and (max-width:768px){
    body {
        font-size: 16px;
    }
    .wrapper {
        width: auto; /* block요소니까 꽉차게 나옴 */
        margin: 0 16px;
    }
    #wrap {
        min-width: 0;   /* 최소 넓이 없음 */
    }
}/*@media*/