@import url(default.css);
@import url(fonts.css);
@import url(common.css);

header {
    position: fixed; /* 무조건 body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: var(--header-h);
    color: var(--color-white);
    fill: var(--color-white); /* svg 아이콘 색상 */
    display: flex; /* logo - gnb - util 좌우 배치 */
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--wrapper-margin); /* 위아래-좌우 */
}
header .logo a {
    display: block;
    width: 200px;
    height: 30px;
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}
header .util {
    display: flex; /* search-mypage 좌우배치 */
}
header .util .search .sch_open {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}
header .util .search .sch_open i {
    display: block;
    width: 17.58px;
}
header .util .mypage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
}
header .util .mypage i {
    display: block;
    width: 18px;
}

/* header가 fixed가 되었을때 */
header {
    transition: background-color 0.5s, color 0.5s, fill 0.5s;
}
header .logo a {
    transition: background-color 0.5s;
}

header.fixed {
    background-color: var(--color-white);
    color: var(--color-title);
    fill: var(--color-basic);
}
header.fixed .logo a {
    background-image: url(../images/logo.svg);
}


/************************* 시작 : pc버전 메뉴 ************************************/
/* 1024이하는 메뉴가 접힘..  1025이상일때 스타일 */
@media screen and (min-width:1025px){
    header .gnb .gnb_open,
    header .gnb .gnb_wrap .gnb_logo,
    header .gnb .gnb_wrap .gnb_close {
        display: none; /* 모바일에서만 보임 */
    }
    header .gnb .gnb_wrap ul.depth1 {
        display: flex; /* li를 좌우로 배치 */
    }
    header .gnb .gnb_wrap ul.depth1 > li {
        position: relative; /* depth2 정렬 기준 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        display: block;
        font-size: 22px;
        font-weight: var(--font-weight-bold);
        line-height: var(--header-h);
        padding: 0 1.3636em;
        white-space: nowrap; 
        /* 행간이 높아서 2줄이 되면 이상함. 그래서 무조건 1줄로 나오게함 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
        position: absolute; /* li를 기준으로 정렬 */
        left: 50%; /* li 넓이의 50% */
        transform: translateX(-50%); /* depth2 넓이의 50% */
        top: calc(var(--header-h) - 14px);
        background-color: var(--color-main);
        border-radius: 10px;
        border-top: 0;
        min-width: 100%; /* li 넓이의 100% */
        padding: 20px 25px;
        display: none; /* 오버했을때만 나옴 */
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
        display: block;
        padding: 2px 0;
        white-space: nowrap; /* 줄바꿈 금지 */
        text-align: center;
        color: var(--color-white);
    }
    header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a:hover {
        font-weight: var(--font-weight-bold);
    }

    /* 메뉴에 오버했을때 */
    header.menu_pc {
        background-color: var(--color-white);
        color: var(--color-title);
        fill: var(--color-basic);
    }
    header.menu_pc .logo a {
        background-image: url(../images/logo.svg);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > a {
        color: var(--color-main);
    }
    header .gnb .gnb_wrap ul.depth1 > li.over > ul.depth2 {
        display: block !important; /* 2차메뉴 나옴 */
    }
}/*@media*/
/* 1025이상에서 1280이하 그 사이에서만 적용  */
@media screen and (min-width:1025px) and (max-width:1280px){
    header .logo a {
        width: 180px;
    }
    header .gnb .gnb_wrap ul.depth1 > li > a {
        font-size: 20px;
    }
}
/************************* 끝 : pc버전 메뉴 ************************************/
/************************* 시작 : 모바일 ************************************/
@media screen and (max-width:1024px){
            header {
                padding-right: 0;
                height: var(--header-var);
            }
            header .logo a {
                /* width: 145px;
                height: 22px; */
                width: clamp(145px, 20vw, 200px);
                /* 최소값, 평소의값, 최대값 
                    100vw가 브라우저의 넓이 */
            }
            header .util {
                display: none; /* 숨김 */
            }
            header .gnb .gnb_open {
                display: flex; /* i태그 가운데 정렬 */
                justify-content: center;
                align-items: center;
                width: var(--header-var);
                height: var(--header-var);
            }
            header .gnb .gnb_open i {
                display: block;
                width: 36.16%;
            }
            header .gnb .gnb_wrap {
                /* display: none; */
                position: absolute; /* header를 기준으로 정렬 */
                right: -100%;
                top: 0;
                width: 100%;
                height: 100dvh;
                background-color: var(--color-white);
                color: var(--color-basic);
                fill: var(--color-basic);
                transition: right 0.5s;
            }
            header .gnb .gnb_wrap ul.depth1 {
                margin: var(--header-var) 0 0 0;
                height: calc(100dvh - var(--header-var));
                overflow-y: auto;
                /* 주어진 높이보다 컨텐츠가 짧으면 스크롤바x
                   컨텐츠가 더 긴경우에만 스크롤 바가 생김 */
                padding: 17px 0 0 0;
            }
            header .gnb .gnb_wrap ul.depth1 > li > a {
                display: block;
                font-size: 20px;
                font-weight: var(--font-weight-bold);
                line-height: var(--line-height-title);
                color: var(--color-title);
                padding: 16px 40px 16px var(--wrapper-margin);
                position: relative; /* after 정렬의 기준 */
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a {
                color: var(--color-basic);
            }
            header .gnb .gnb_wrap ul.depth1 > li > a::after {
                content: "";
                position: absolute;
                right: var(--wrapper-margin);
                top: 50%; /* a의 높이의 절반 */
                transform: translateY(-50%); /* after 높이의 절반 */
                width: 15px;
                height: 8px;
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 11' fill='3D3D3D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.48828 7.7129L16.8383 0.362903C17.0883 0.112903 17.3841 -0.00793018 17.7258 0.000403171C18.0674 0.00873652 18.3633 0.137903 18.6133 0.387903C18.8633 0.637903 18.9883 0.933737 18.9883 1.2754C18.9883 1.61707 18.8633 1.9129 18.6133 2.1629L10.9133 9.8379C10.7133 10.0379 10.4883 10.1879 10.2383 10.2879C9.98828 10.3879 9.73828 10.4379 9.48828 10.4379C9.23828 10.4379 8.98828 10.3879 8.73828 10.2879C8.48828 10.1879 8.26328 10.0379 8.06328 9.8379L0.363281 2.1379C0.113281 1.8879 -0.00755317 1.59624 0.00078005 1.2629C0.00911327 0.929569 0.138281 0.637902 0.388281 0.387902C0.638281 0.137902 0.934114 0.0129024 1.27578 0.0129025C1.61745 0.0129025 1.91328 0.137902 2.16328 0.387903L9.48828 7.7129Z'/%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                background-position: center center;
                background-size: contain;
                transition: 0.5s;
            }
            header .gnb .gnb_wrap ul.depth1 > li.open > a::after {
                transform: translateY(-50%) rotate(180deg);
                background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 19 11' fill='3D3D3D' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.48828 7.7129L16.8383 0.362903C17.0883 0.112903 17.3841 -0.00793018 17.7258 0.000403171C18.0674 0.00873652 18.3633 0.137903 18.6133 0.387903C18.8633 0.637903 18.9883 0.933737 18.9883 1.2754C18.9883 1.61707 18.8633 1.9129 18.6133 2.1629L10.9133 9.8379C10.7133 10.0379 10.4883 10.1879 10.2383 10.2879C9.98828 10.3879 9.73828 10.4379 9.48828 10.4379C9.23828 10.4379 8.98828 10.3879 8.73828 10.2879C8.48828 10.1879 8.26328 10.0379 8.06328 9.8379L0.363281 2.1379C0.113281 1.8879 -0.00755317 1.59624 0.00078005 1.2629C0.00911327 0.929569 0.138281 0.637902 0.388281 0.387902C0.638281 0.137902 0.934114 0.0129024 1.27578 0.0129025C1.61745 0.0129025 1.91328 0.137902 2.16328 0.387903L9.48828 7.7129Z'/%3E%3C/svg%3E%0A");
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 {
                padding: 10px var(--wrapper-margin) 10px calc(var(--wrapper-margin) * 2);
                display: none;
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li {
                border-bottom: 1px solid var(--color-line2);
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li:last-child {
                border-bottom: 0; /* 0과 none 둘다 됨 - 선 취소 */
            }
            header .gnb .gnb_wrap ul.depth1 > li > ul.depth2 > li > a {
                display: block;
                padding: 8px 8px 8px 8px;
            }
            
            header .gnb .gnb_wrap .gnb_logo {
                position: absolute; /* gnb_wrap을 기준으로 정렬 */
                left: var(--wrapper-margin);
                top: 0;
                width: clamp(145px, 20vw, 200px);
                height: var(--header-var);
                background: url(../images/logo.svg) no-repeat center center / contain;
            }
            header .gnb .gnb_wrap .gnb_close {
                position: absolute;
                right: 0;
                top: 0;
                width: var(--header-var);
                height: var(--header-var);
                display: flex;
                justify-content: center;
                align-items: center;
            }
            header .gnb .gnb_wrap .gnb_close i {
                display: block;
                width: 26.14%;
            }

            /* 메뉴가 열렸을때  */
            header.menu_mo .gnb .gnb_wrap {
                /* display: block; */
                right: 0;
            }
}



.visual {
    position: relative; /* ctrl_btn 정렬의 기준 */
}
.visual .swiper-slide {
    height: 100dvh; /* 브라우저 높이와 동일 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);

    display: flex; /* wrapper를 하단에 배치하기 위해 */
    align-items: flex-end;
}
.visual .swiper-slide.pop1 {
    background-image: url(../images/visual_bg1.jpg);
}
.visual .swiper-slide.pop2 {
    background-image: url(../images/visual_bg2.jpg);
}
.visual .swiper-slide.pop3 {
    background-image: url(../images/visual_bg3.jpg);
}
.visual .swiper-slide p {
    font-size: clamp(28px, 5vw, 60px);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    letter-spacing: var(--letter-spacing-title);
    margin: 0 0 calc(15dvh + 93px) 0;
    /* 글자가 나타나는 효과 */
    transition: transform 1s, opacity 1s;
    transition-delay: 0.2s;
    transform: translate(0, 50px);
    opacity: 0;
}
.visual .swiper-slide.swiper-slide-active p {
    transform: translate(0, 0);
    opacity: 1;
}

.visual .ctrl_btn {
    position: absolute; /* visual을 기준으로 정렬 */
    left: calc(50% - 630px);
    bottom: 15%;
    z-index: 10;
    display: flex;
    gap: 0 12px;
}
.visual .ctrl_btn .paging {
    display: flex;
    align-items: center;
    gap: 0 3px;
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
}
.visual .ctrl_btn .paging .bar {
    width: 140px;
    height: 3px;
    background-color: var(--color-white30);
    position: relative; /* before 정렬의 기준 */
}
.visual .ctrl_btn .paging .bar span {
    position: absolute; /* bar를 기준으로 정렬 */
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-white);
}
.visual .ctrl_btn .stop,
.visual .ctrl_btn .play {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: var(--color-white30);
    display: flex; /* i태그를 가운데 배치 */
    justify-content: center;
    align-items: center;
}
.visual .ctrl_btn .play {
    display: none; /* 숨김처리 */
}
.visual .ctrl_btn .stop i {
    display: block;
    width: 9px;
    /* 이미지나 svg 코드 등은 넓이만 줘도 높이는 비율에 맞게 들어감 */
    margin: 0 0 3px 0;
}
.visual .ctrl_btn .play i {
    display: block;
    width: 8px;
    margin: 0 0 3px 0;
}
@media screen and (max-width:1320px){
    .visual .ctrl_btn {
        left: 30px;
    }
}
@media screen and (max-width:768px){
            .visual .swiper-slide {
                height: 400px; /* 브라우저 높이와 동일 */
            }
            .visual .swiper-slide p {
                margin: 0 0 92px 0;
                transform: translate(0, 20px);
            }
            .visual .ctrl_btn {
                left: 16px;
                bottom: 38px;
                gap: 0 6px;
            }
            .visual .ctrl_btn .paging .bar {
                width: 72px;
            }
}
.find {
    background-color: var(--color-title);
    color: var(--color-white);
    padding: 151px 0 142px 0;
}
.find h2 {
    font-size: var(--font-size-title);
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-title);
    text-align: center;
}
.find .tab_list {
    margin: 32px 0 0 0;
}
.find .tab_list ul {
    display: flex; /* li 좌우 */
    justify-content: center;
    gap: 0 10px;
}
.find .tab_list ul li button {
    display: block;
    padding: 6px 26px 7px 26px;
    border-radius: 10px;
    color: var(--color-white60);
    font-size: var(--font-size-title2);
    font-weight: var(--font-weight-bold);
}
.find .tab_list ul li.active button {
    background-color: var(--color-main);
    color: var(--color-white);
}
.find .tab_list ul li.item2.active button {
    background-color: var(--color-main2);
}
.find .tab_content .tab_item {
    margin: 22px 0 0 0;
    position: relative;
}
.find .tab_content .tab_item .ctrl_btn {
    position: absolute;
    right: 0;
    top: -22px;
}
.find .tab_content .tab_item .ctrl_btn .prev i, 
.find .tab_content .tab_item .ctrl_btn .next i {
    display: block;
    width: 15.57;

}
footer {
    margin: 1500px 0 0 0;
}