    @import url(default.css);
    @import url(fonts.css);
    @import url(common.css);
    @import url(layout.css);

/********************* noti *********************/
.noti {
    height: 823px;
    background: url(../images/community_bg.jpg) no-repeat center center / cover;
    color: #fff;
    padding: 163px 0 0 0;
}
.noti .wrapper {
    display: flex; /* tit-inner 좌우배치 */
    justify-content: space-between;
}
.noti .tit h2 {
    font-size: 40px;
    font-weight: 800;
    line-height: 1.3;
    margin: 0 0 15px 0;
}
.noti .inner {
    display: flex; /* notice - service 좌우 배치 */
    align-items: flex-end; 
    gap: 0 12px;
}
.noti .inner .notice {
    backdrop-filter: blur(10px);
    background-color: rgba(1, 32, 63, 0.6);
    width: 548px;
    height: 383px;
    border-radius: 10px;
    padding: 42px 40px 0 40px; 
    /* 아래여백은 절대 안줌 - 높이가 있으므로 */
    position: relative; /* more 정렬의 기준 */
}
.noti .inner .notice h3 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.3;
}
.noti .inner .notice ul {
    margin: 23px 0 0 0;
}
/* .noti .inner .notice ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.noti .inner .notice ul li:first-child {
    border-top: none;
} */
.noti .inner .notice ul li a {
    display: flex; /* h4-span 좌우배치 */
    justify-content: space-between;
    padding: 11px 0 11px 0;
}
.noti .inner .notice ul li a h4 {
    width: calc(100% - 105px);
    /* 제목은 날짜가 들어갈 공간 빼고 전체 
       a를 기준으로 100% 
       1줄제한 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.noti .inner .notice ul li a span {
    color: rgba(255, 255, 255, 0.8);
}
.noti .inner .notice .more {
    position: absolute; /* notice를 기준으로 정렬 */
    right: 40px;
    top: 42px;
    width: 26px;
    height: 26px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    background: url(../images/noti_notice.svg) no-repeat center center;
}
.noti .inner .notice .more span {
    display: none; /* 숨김 */
}
/* notice over 스타일 */
.noti .inner .notice:hover {
    background-color: #fff;
    color: #1d1d1d;
}
.noti .inner .notice:hover ul li a span {
    color: #666;
}
.noti .inner .notice:hover .more {
    border-color: #1F4993;
    background-color: #1F4993;
    background-image: url(../images/noti_notice_over.svg);
}
.noti .inner .notice ul li a:hover h4 {
    color: #1F4993;
    font-weight: 800;
}
.noti .inner .notice ul li a:hover span {
    color: #1F4993;
}
.noti .inner .service {
    width: 312px;
}
.noti .inner .service ul {
    display: flex; /* li를 좌우로 */
    flex-wrap: wrap; /* 2줄이상 허용 */
    gap: 12px 12px;
}
.noti .inner .service ul li {
    width: calc(50% - 6px);
    /* 100%/한줄에 나오는 li갯수 2 = 100/2 = 50%
       한줄여백의합 12px / 한줄에 나오는 li갯수 2 = 6  */
}
.noti .inner .service ul li a {
    height: 150px;
    backdrop-filter: blur(10px);
    background-color: rgba(1, 32, 63, 0.6);
    border-radius: 10px;
    display: block;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.3;
    padding: 28px 0 0 27px;
    position: relative; /* after 정렬의 기준 */
}
.noti .inner .service ul li a::after {
    content: "";
    position: absolute; /* a를 기준으로 정렬 */
    right: 15px;
    bottom: 20px;
    width: 45px;
    height: 45px;
    background-position: center center;
    background-repeat: no-repeat;
}
.noti .inner .service ul li.icon1 a::after {
    background-image: url(../images/noti_service01.svg);
}
.noti .inner .service ul li.icon2 a::after {
    background-image: url(../images/noti_service02.svg);
}
.noti .inner .service ul li.icon3 a::after {
    background-image: url(../images/noti_service03.svg);
}
.noti .inner .service ul li.icon4 a::after {
    background-image: url(../images/noti_service04.svg);
}
.noti .inner .service ul li a:hover {
    background-color: #1F4993;
}
/********************* noti *********************/