@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

/************ visual 시작 ************/
.visual {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.visual .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.visual .video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.visual .wrapper {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
}
.visual .txt {
    position: relative;
    width: 100%;
}
.visual .txt h3 {
    font-family: pura;
    font-size: clamp(40px, 8vw, 100px);
    line-height: 1.3;
    color: var(--color-main);
}
/************ visual 끝 ************/
/************ split 시작 ************/
.split {
    position: relative;
    height: 200vh; /* 원하는 길이 */
    background-image: url(../images/split_bg01.jpg);
    background-attachment: fixed;
}

/* 글자가 화면 중앙에 오도록 */
.slogan {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 흐릿한 기본 글 */
.slogan p {
    position: relative; 
    font-family: pura;
    line-height: 1.3;
    font-size: clamp(36px, 6vw, 80px);
    color: rgba(242,174,124,0.3);
    white-space: nowrap;
    margin: 0.2em 0;
}

/* 채워지는 글자(span) */
.slogan p span {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    
    height: 100%;
    width: 0;  /* 처음은 0% → 글자 안 보임 */
    color: #F2AE7C; /* 채워지는 색 */
}
/************ split 끝 ************/
/************ egg 시작 ************/
.egg {
    height: 200vh;
    background-color: #F2EDE8;
    position: relative;
    background-attachment: fixed;
}
.egg .txt {
    position: sticky;
    top: 0;
    height: 100vh;
    font-family: pura;
    line-height: 1.3;
    font-size: clamp(36px, 6vw, 80px);
    color: #F4AE00;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/************ egg 끝 ************/
/************ accordion 시작 ************/
.accordion_wrap { 
    position:relative;
    z-index:-1;
}
.accordion_wrap .accordion .cont {
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    display:flex;
    padding: var(--accordion-margin);
    flex-direction: column;
    justify-content:center;
    color:#fff;
    height: 100vh;
}
.accordion_wrap .accordion .cont.bg1 {
    background-image: url(../images/accordion_bg01.jpg);
}
.accordion_wrap .accordion .cont.bg2 {
    background-image: url(../images/accordion_bg02.jpg);
}
.accordion_wrap .accordion .cont.bg3 {
    background-image: url(../images/accordion_bg03.jpg);
}
.accordion_wrap .accordion .cont h3 {
    font-size: clamp(32px, 8vw, 60px);
    font-weight:800;
    margin:0 0 24px 0;
}
.accordion_wrap .accordion .cont h3 span {
    color: var(--color-main);
}
/************ accordion 끝 ************/
/************ menu 시작 ************/
.menu {
    height: 100vh;
    background: url("../images/menu_bg.jpg") no-repeat center/cover;
}
.menu h3 {
    font-family: pura;
    font-size: var(--fontsize-title);
    color: var(--color-main);
    line-height: 1.3;
    text-align: center;
    align-items: center;
    padding: 152px 0 0 0;
}
/************ menu 끝 ************/
/************ event 시작 ************/
.event {
    position: relative;
    width: 100%;
    height: 100vh; /* 화면 전체 높이 */
    display: flex;
    align-items: center; /* 세로 가운데 정렬 */
}
.event .wrapper {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center; /* wrapper 내부에서 세로 가운데 유지 */
}
.event .tit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
}
.event .more {
    position: absolute;
    right: 0;
    top: 0;
    border: 1px solid var(--color-main);
    color: #fff;
    background-color: var(--color-main);
    padding: 9px 50px 9px 16px;
    border-radius: 20px;
}
.event .more::before {
    content: "";
    position: absolute;
    right: 16px;
    top: 8px;
    width: 24px;
    height: 24px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='white'%0Axmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_36_152' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='24' height='24'%3E%3Crect width='24' height='24' fill='%23D9D9D9'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_36_152)'%3E%3Cpath d='M11.9749 13.4503L5.07491 20.3003C4.89158 20.4836 4.66241 20.5794 4.38741 20.5878C4.11241 20.5961 3.87491 20.5003 3.67491 20.3003C3.49158 20.1169 3.39991 19.8836 3.39991 19.6003C3.39991 19.3169 3.49158 19.0836 3.67491 18.9003L13.2249 9.35027C12.9249 8.65027 12.8832 7.8586 13.0999 6.97527C13.3166 6.09193 13.7916 5.30027 14.5249 4.60027C15.4082 3.71693 16.3916 3.20027 17.4749 3.05027C18.5582 2.90027 19.4416 3.16693 20.1249 3.85027C20.8082 4.5336 21.0749 5.41693 20.9249 6.50027C20.7749 7.5836 20.2582 8.56693 19.3749 9.45027C18.6749 10.1836 17.8832 10.6586 16.9999 10.8753C16.1166 11.0919 15.3249 11.0503 14.6249 10.7503L13.3749 12.0003L20.2749 18.9003C20.4582 19.0836 20.5541 19.3128 20.5624 19.5878C20.5707 19.8628 20.4749 20.1003 20.2749 20.3003C20.0916 20.4836 19.8582 20.5753 19.5749 20.5753C19.2916 20.5753 19.0582 20.4836 18.8749 20.3003L11.9749 13.4503ZM7.32491 12.4503L4.32491 9.45027C3.62491 8.75027 3.18324 7.86693 2.99991 6.80027C2.81658 5.7336 3.02491 4.7836 3.62491 3.95027C3.80824 3.70027 4.05408 3.5586 4.36241 3.52527C4.67074 3.49193 4.93324 3.59193 5.14991 3.82527L10.5249 9.25027L7.32491 12.4503Z' /%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.event .tit h3 {
    font-family: pura;
    font-size: var(--fontsize-title);
    color: var(--color-main);
    line-height: 1.3;
}
.event .list .swiper-slide a {
    display: block;
    border-top: 1px solid #ccc;
}
.event .list .swiper-slide a h4 {
    margin: 24px 0 12px 0;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.3;
}
.event .list .swiper-slide a .photo {
    margin: 24px 0 0 0;
}
/************ event 끝 ************/
/************ youtube 시작 ************/
.youtube {
    background: url("../images/youtube_bg.jpg") no-repeat center/cover;
    height: 1492px;
}

/************ youtube 끝 ************/
/************ footer 시작 ************/
footer {
    border-top: 3px solid #ccc;
    background-color: var(--color-title);
    color: #fff;
}
footer .f_sub {
    padding: 100px 0;
}
footer .f_sub .wrapper {
    position: relative;
    display: flex;
    gap: 0 64px;
}
footer .f_sub .f_logo img {
    width: 160px;
}
footer .f_sub .f_nav ul {
    display: flex;
    gap: 0 24px;
}
footer .f_sub .f_info {
    margin: 32px 0;
}
footer .f_sub .f_info .ceo {
    display: flex;
    gap: 0 24px;
}
footer .f_sub .f_info span,
footer .f_sub .f_info address {
    display: flex;
}
footer .f_sub .copyright {
    color: rgba(255, 255, 255, 0.6);
}
footer .f_sub .f_ff {
    display: flex;
    gap: 0 24px;
}
@media screen and (max-width:1280px) {
    footer .f_sub .wrapper {
        position: relative;
        display: block;
    }
    footer .inner {
        margin: 40px 0 0 0;
    }
}
@media screen and (max-width:768px) {
    footer .f_sub .f_info .ceo {
        display: block;
    }
    footer .f_sub .f_ff {
        display: block;
    }
}