/***********************
* 파일명 : main.css 
* 작성자 : 문미영
* 작성일 : 25-10-23
* 설  명 : index파일 (메인페이지)에서만 호출하는 css
          메인페이지 (index)의 스타일이 이 페이지에서 선언됨 (header/footer 제외)
          default.css (태그의 초기화 - 브라우저가 주는 기본 스타일 삭제)
          common.css (wrapper, blind 처럼 모든 페이지에서 반복되는 기본 스타일 
          - 변수도 여기서 선언, 변수가 너무 많으면 variable이라는 파일을 분리도 함)
          layout.css (문서의 구조에 영향을 끼치는 요소 - header/footer가 들어감)
*********************/
@import url(default.css);
@import url(fonts.css);
@import url(common.css);
@import url(layout.css);

.visual {
    position: relative; /* scroll 정렬의 기준 */
}
.visual .popup .slide {
    height: 100dvh;
    position: relative; /* photo 정렬의 기준 */
    /* txt를 slide의 하단에 배치 - 넓이가 100% */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.visual .popup .slide .photo {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.visual .popup .slide .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale3d(1.2, 1.2, 1);
    transition: transform 2s;
}
.visual .popup .slide.slick-active .photo img {
    transform: scale3d(1, 1, 1);
}
.visual .popup .slide .txt {
    color: #fff;
    margin-bottom: 247px;
}
.visual .popup .slide .txt h2 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
    margin: 0 0 13px 0;
}
@media screen and (min-width:769px){ /* pc버전에서만 동작 */
    .visual .popup .slide .txt .line {
        display: block;
        overflow: hidden;
    }
    .visual .popup .slide .txt .line span {
        transform: translateY(100%);
        display: block;
        transition: transform 0.5s;
        transition-delay: 0.3s;
    }
    .visual .popup .slide.slick-active .txt .line span {/* 현재 보이는 팝업에는 */
        transform: translateY(0);
    }
}/*media*/

.visual .scroll {
    position: absolute;
    right: 0;
    bottom: 140px;
    color: #fff;
    font-size: 1.5rem;
    transform: rotate(90deg);
}
.visual .scroll::after {
    content: "";
    position: absolute;
    right: -15px;
    bottom: 9px;
    width: 8px;
    height: 8px;
    border-width: 1px 1px 0 0;
    border-style: solid;
    border-color: #fff;
    transform: rotate(45deg);
    animation: scroll 3s linear infinite;
}
@keyframes scroll {
    0% { right: -15px; }
    50% { right: -30px; }
    100% { right: -15px; }
}

@media screen and (max-width:1024px){
    .visual .popup .slide .txt h2 {
        font-size: 4.4rem;
    }
}

@media screen and (max-width:768px){
            .visual .popup .slide {
                height: 600px;
            }
            .visual .popup .slide .txt {
                margin-bottom: 56px;
            }
            .visual .popup .slide .txt h2 {
                font-size: 3.2rem;
                margin: 0 0 24px 0;
            }
            .visual .popup .slide .txt h2,
            .visual .popup .slide .txt p {
                transform: translateY(50%);
                opacity: 0;
                transition: transform 1s, opacity 1s;
                transition-delay: 0.3s;
            }
            .visual .popup .slide.slick-active .txt h2,
            .visual .popup .slide.slick-active .txt p {
                transform: translateY(0);
                opacity: 1;
            }
            .visual .popup .slide .txt h2 .line {
                display: block; /* 줄바꿈 */
            }
            .visual .scroll {
                display: none;
            }
}/*@media*/

.biz {
    margin: 156px 0 0 0;
}
.biz .tit strong {
    color: var(--color-main);
    font-weight: 700;
    padding-right: 0.5882em;
    display: inline-block;
    position: relative; /* after 정렬의 기준 */
}
.biz .tit strong::after {
    content: "";
    position: absolute; /* strong을 기준으로 정렬 */
    right: 0;
    top: -0.0588em;
    width: 0.6471em;
    height: 0.6471em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 11' fill='%23E00036' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 4.37062C0 4.52267 0.0221183 4.68024 0.0829529 4.82952C0.351178 5.49299 1.03419 5.90214 1.90246 5.55658C2.10985 5.47364 7.85319 3.15978 7.85319 3.15978C7.85319 3.15978 5.59125 8.89329 5.50553 9.10615C5.17647 9.9272 5.57189 10.6708 6.24384 10.9196C6.39316 10.9749 6.54801 11.0026 6.7001 10.9998C7.25038 10.997 7.73429 10.6736 7.97209 10.0267C8.00804 9.92996 10.8369 2.16458 10.8977 1.97936C10.9336 1.86878 11 1.60892 11 1.42923C11 1.04497 10.859 0.682823 10.5852 0.409141C10.317 0.138223 9.95752 0 9.57868 0C9.39341 0 9.24409 0.0331736 9.01735 0.10505C8.88185 0.149281 1.59 2.86122 0.967823 3.09344C0.345651 3.32565 -1.51891e-06 3.82326 0.00276369 4.37062' /%3E%3C/svg%3E%0A");
}
.biz .tit h2 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--color-title);
    line-height: 1.3;
}
.biz .list {
    margin: 42px 0 0 0;
}
.biz .list ul {
    display: flex;
}
.biz .list ul li {
    width: 25%;
    height: 600px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/main/biz01.jpg);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0 1.5% 62px 1.5%;
    position: relative; /* before 정렬의 기준 */
}
.biz .list ul li.biz02 {
    background-image: url(../images/main/biz02.jpg);
}
.biz .list ul li.biz03 {
    background-image: url(../images/main/biz03.jpg);
}
.biz .list ul li.biz04 {
    background-image: url(../images/main/biz04.jpg);
}
.biz .list ul li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
}
.biz .list ul li .txt {
    position: relative;
    z-index: 10; /* before 보다 위에 배치하기 위해 */
}
.biz .list ul li .txt h3 {
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1;
    margin: 11px 0 0 0;
}
.biz .list ul li .txt p {
    margin: 23px 0 12px 0;
    display: none; /* 오버 시에만 보임 */
}
.biz .list ul li .txt a {
    display: none; /* 오버 시에만 보임 */
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 1px 53px 0 19px;
    /* display: inline-block; */
    position: relative; /* after 정렬의 기준 */
}
.biz .list ul li .txt a::after {
    content: "";
    position: absolute;
    right: 13px;
    top: 9px;
    width: 11px;
    height: 8px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 11 8' fill='white' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.6665 1.27146e-07L10.6665 4L6.6665 8L5.73317 7.03333L8.09984 4.66667L-0.000161833 4.66667L-0.000161717 3.33333L8.09984 3.33333L5.73317 0.966667L6.6665 1.27146e-07Z' /%3E%3C/svg%3E%0A");
}
@media screen and (min-width:1025px){ /* 1025px이상 - pc버전일때 */
}

footer {
    margin: 1500px 0 0 0;
}