
@font-face {
  font-family: 'kakao';
  src: url('../font/KakaoBigSans-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-display: swap;
}
@font-face {
  font-family: 'kakao';
  src: url('../font/KakaoSmallSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}