/******************************************************************************************* 
파일명 : contents.css
작성자 : 이동채
작성일 : 25-10-23
설  명 : 연혁, 인사말 등의 각페이지에만 들어가는 스타일들을 모두 모음///
         
*******************************************************************************************/

/* 회사소개 - CEO인사말 (메뉴명을 써줌) */
.ctn_ceo .ceo_head {
    height: 200dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.ctn_ceo .ceo_head .ceo_photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100dvh;
}
.ctn_ceo .ceo_head .ceo_photo[data-status="end"] {
    top: auto;
    bottom: 0;
}
.ctn_ceo .ceo_head .ceo_photo[data-status="ing"] {
    position: fixed;
}
.ctn_ceo .ceo_head .ceo_photo .ceo_img {
    position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  background: url(../image/contents/ceo01.jpg) no-repeat center / cover;
  overflow: hidden; /* bg가 이미지 안쪽에 깔리도록 */
}
.ctn_ceo .ceo_head .ceo_photo .ceo_img .bg {
    position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.1; /* 초기값 */
  transition: opacity 0.3s ease;
}
.ctn_ceo .ceo_head .ceo_txt {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 10;
}
.ctn_ceo .ceo_head .ceo_txt p {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 800;
    line-height: 1.5;
    margin: 33px 0 0 0;
}
.ctn_ceo .ceo_cont {
    margin: 120px 0 180px 0;
}
.ctn_ceo .ceo_cont .wrapper {
    display: flex;
    justify-content: space-between;
}
.ctn_ceo .ceo_cont h3 {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.5;
    color: var(--color-title);
}
.ctn_ceo .ceo_cont .inner {
    width: calc(100% - 428px);
}
.ctn_ceo .ceo_cont .inner .sign {
    margin: 56px 0 0 0;
    display: flex;
    gap: 0 24px;
}
.ctn_ceo .ceo_cont .inner .sign strong {
    font-size: 24px;
    font-weight: 800;
    line-height: 1.5;
    color: var(--color-title);
}
.ctn_ceo .ceo_cont .inner .sign .sign_img {
    display: block;
    background: url(../image/contents/ceo_sign1.jpg) no-repeat center center / contain;
    width: 160px;
    height: 75px;
}



@media screen and (max-width:1024px) {
    .ctn_ceo .ceo_head .ceo_txt p {
        font-size: 2.5rem;
        margin: 27px 0 0 0;
    }
    .ctn_ceo .ceo_cont {
        margin: 56px 0 80px 0;
    }
    .ctn_ceo .ceo_cont .wrapper {
        display: block;
    }
    .ctn_ceo .ceo_cont h3 {
        font-size: 20px;
    }
    .ctn_ceo .ceo_cont .inner {
        width: auto;
        margin: 17px 0 0 0;
    }
    .ctn_ceo .ceo_cont .inner .sign {
        display: block;
    }
    .ctn_ceo .ceo_cont .inner .sign strong {
        font-size: 20px;
    }
    .ctn_ceo .ceo_cont .inner .sign .sign_img {
        display: block;
        margin: 24px 0 0 0;
        background: url(../image/contents/ceo_sign1.jpg) no-repeat center center / contain;
        width: px;
        height: 75px;
    }
}
@media screen and (max-width:450px) {
    .ctn_ceo .ceo_head .ceo_txt p br {
        display: none;
    }
}



/* **************************연혁 */
.ctn_history .his_head {
    height: 400px;
    background: url(../image/contents/his_head01.jpg) no-repeat center center / cover;
    color: rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .ctn_history .his_head.right .wrapper {
    flex-direction: row-reverse;
} */
.ctn_history .his_head.bg2 {
    background-image: url(../image/contents/his_head02.jpg);
}
.ctn_history .his_head.bg3 {
    background-image: url(../image/contents/his_head03.jpg);
}
.ctn_history .his_head.bg4 {
    background-image: url(../image/contents/his_head04.jpg);
}
.ctn_history .his_head h3 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.5;
    position: relative;
    white-space: nowrap;
}
.ctn_history .his_head h3 strong {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    overflow: hidden;
    color: #ffff;
}
.ctn_history .his_cont {
    margin: 87px 0 0 0;
}
.ctn_history .his_cont .wrapper {
    display: flex;
    justify-content: space-between;
}
.ctn_history .his_cont.tit_right .wrapper {
    flex-direction: row-reverse;
    text-align: right;
}
.ctn_history .his_cont .his_tit strong {
    font-weight: 800;
    color: var(--color-title);
}
.ctn_history .his_cont .his_tit h4 {
    font-size: 40px;
    font-weight: 800;
    color: var(--color-title);
    line-height: 1.5;
    margin: 13px 0 0;
}
.ctn_history .his_cont .his_tit {
    max-width: 30%;
}
.ctn_history .his_cont .his_year {
    width: 50%;
    position: relative;
    padding-left: 37px; /* 선과 내용 간격 */
}
.ctn_history .his_cont .his_year .year_list {
    position: relative;
}
.ctn_history .his_cont .his_year .year_list::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 100%;
}
.ctn_history .his_cont .his_year .year_list:last-child::after {}
.ctn_history .his_cont.tit_right .his_year {
    padding-left: 0;
    padding-right: 37px;
}
.ctn_history .his_cont .his_year::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: #ededed;
}
.ctn_history .his_cont.right .his_year {
    padding-left: 0;
    padding-right: 37px; /* 오른쪽 선과 내용 간격 */
    text-align: right;
}
.ctn_history .his_cont.right .his_year::before {
    left: auto;
    right: 0;
}
.ctn_history .his_cont .his_year .year_tit {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-title);
    margin: 0 0 15px 0;
    position: relative;
}
.ctn_history .his_cont .his_year .year_tit::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--color-main);
}
.ctn_history .his_cont .his_year .year_list + .year_tit {
    margin-top: 40px;
}
.ctn_history .his_cont.right .his_year .year_tit::before {
    left: 0;
    right: -40px;
}
.ctn_history .his_cont .his_year .year_list dl dt {
    color: var(--color-title);
    float: left;
}
.ctn_history .his_cont.right .his_year .year_list dl dt
.ctn_history .his_cont .his_year .year_list dl dd {
    margin: 0 0 7px 92px;
}
@media screen and (max-width:1320px) {
    .ctn_history .his_cont .his_year .year_tit {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.3;
        color: var(--color-title);
        margin: 0 0 15px 0;
        position: relative;
    }
    .ctn_history .his_cont .his_year .year_tit::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: var(--color-main);
    }
    .ctn_history .his_cont .his_year .year_list + .year_tit {
        margin-top: 40px;
    }
    .ctn_history .his_cont.right .his_year .year_tit::before {
        left: 0;
        right: -40px;
    }
    .ctn_history .his_cont .his_year .year_list dl dt {
        color: var(--color-title);
        float: left;
    }
    .ctn_history .his_cont.right .his_year .year_list dl dt
    .ctn_history .his_cont .his_year .year_list dl dd {
        margin: 0 0 7px 92px;
    }
    .ctn_history .his_cont .his_year .year_tit {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.3;
        color: var(--color-title);
        margin: 0 0 15px 0;
        position: relative;
    }
    .ctn_history .his_cont .his_year .year_tit::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: var(--color-main);
    }
    .ctn_history .his_cont .his_year .year_list + .year_tit {
        margin-top: 40px;
    }
    .ctn_history .his_cont.right .his_year .year_tit::before {
        left: 0;
        right: -40px;
    }
    .ctn_history .his_cont .his_year .year_list dl dt {
        color: var(--color-title);
        float: left;
    }
    .ctn_history .his_cont.right .his_year .year_list dl dt
    .ctn_history .his_cont .his_year .year_list dl dd {
        margin: 0 0 7px 92px;
    }
    .ctn_history .his_cont .his_year .year_tit {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.3;
        color: var(--color-title);
        margin: 0 0 15px 0;
        position: relative;
    }
    .ctn_history .his_cont .his_year .year_tit::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        background-color: var(--color-main);
    }
    .ctn_history .his_cont .his_year .year_list + .year_tit {
        margin-top: 40px;
    }
    .ctn_history .his_cont.right .his_year .year_tit::before {
        left: 0;
        right: -40px;
    }
    .ctn_history .his_cont .his_year .year_list dl dt {
        color: var(--color-title);
        float: left;
    }
    .ctn_history .his_cont.right .his_year .year_list dl dt
    .ctn_history .his_cont .his_year .year_list dl dd {
        margin: 0 0 7px 92px;
    }
}
.ctn_history .his_bar {
    position: fixed;
    left: 50%;
    bottom: 5%;
    z-index: 99;
    transform: translateX(-50%);
    background-image: linear-gradient(90deg, #e00036, #8f1432);
    color: #fff;
    border-radius: 70px;
    padding: 5px;
    max-width: 95%;
    overflow: hidden;
}
.ctn_history .his_bar ul {
    display: flex;
    gap: 0 5px;
}
